.wrapper {
  border-radius: 7px;
  // box-shadow: 7px 10px 34px 0px rgba(0, 0, 0, 0.1);
  display: grid;
  max-height: 800px;
  grid-template-rows: 1fr 4fr 0.5fr;
  background-color: white;

  .stepsRow {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    height: fit-content;
    li {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .circle {
      display: block;
      margin: 1rem;
      width: 30px;
      height: 30px;
      border-radius: 25px;
      border: 1px black double;
    }
    .activeCircle {
      background-color: green;
    }
  }
  .contentsRow {
    margin: 1rem;
    overflow: auto;

    ul {
      padding: 0rem 2rem;
    }
  }
  .buttonsRow {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
  }
}
