.logoImage {
  position: absolute;
  width: 200px;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
  pointer-events: all;
  z-index: 10;

  &:active {
    cursor: grabbing;
  }
}
