.container {
  .asd {
    font-family: "GeistMono";
    display: flex;
    padding: 0px 8px;
    margin: 0 6px;
    cursor: pointer;
  }

  .numberWrapper {
    display: flex;

    .number {
      font-family: "GeistMono";
      padding: 0px 10px;
      margin: 0 6px;
      font-size: 70px;
      transition: all 0.1s ease-in;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        background-color: #f4f4f4;
        border-radius: var(--card-border-radius);
      }
    }
    .selections {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .line {
      display: flex;
      align-items: end;
    }

    .flipLine {
      transform: scaleX(-1);
    }
  }
}
