.list {
  height: 100%;
  padding-left: 1rem;
  padding-right: 0rem;
  .listItem {
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 9px;
    border-radius: var(--card-border-radius);
    padding: 0.9rem;
    list-style: none;
    .liHeader {
      font-weight: 700;
      font-size: 1em;
    }
    // .liBulletPoint {
    // }
  }
}
