.containerz {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  grid-template-rows: auto;
  background-color: white;
  box-shadow: var(--selected-box-shadow);
  border-radius: var(--card-border-radius);
  width: 100%;
  top: -581px;
  left: -16px;

  .headerWrapper {
    justify-content: space-between;
    align-items: center;

    .x {
      cursor: pointer;
    }
    .header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .fileInput {
    margin: 10px 0;
    display: inline-block;
  }

  .outputContainer {
  }

  .uploadedImage {
    display: block;
    max-width: 500px;
    max-height: 400px;
  }

  .logoImage {
    position: absolute;
    width: 100px;
    cursor: move;
  }

  .saveButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .saveButton:hover {
    background-color: #218838;
  }
}
