.modal {
  position: absolute;
  padding: 1rem;
  box-shadow: var(--selected-box-shadow);
  border-radius: var(--card-border-radius);
  background-color: white;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      padding: 1rem;
    }
  }
  .close {
    display: flex;
    justify-content: end;
  }
}

.scaleUp {
  animation: scale 500ms ease-in-out forwards;
}

@keyframes scale {
  0% {
  }
  100% {
    transform: scale(1.1);
  }
}
