.wrapper {
  margin: 0 1rem 1rem 0;
  .nextButton {
    transform: scale(2.5);
    color: var(--primary-green);
    width: fit-content;
    height: fit-content;
    padding: 0;
    &:hover {
      color: var(--hover-green);
    }
  }
  .saveButton {
    transform: scale(2.5);
    color: var(--primary-green);
    width: fit-content;
    height: fit-content;
    padding: 0;
    &:hover {
      color: var(--hover-green);
    }
  }
  .saveButton:hover {
    color: var(--hover-green);
  }
}
