.buttonWrapper {
  .button {
    border-radius: 25px;
    cursor: pointer;
    transform: scale(2);
    color: var(--primary-green);
    &:disabled {
      color: var(--disabled-grey);
      cursor: not-allowed;
    }
    &:hover {
      color: var(--hover-green);
    }
  }
}
