.textInput {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}
.buttonRow {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  .saveButton {
    border-radius: 25px;
    cursor: pointer;
    transform: scale(2);
    color: var(--primary-green);
  }
}

.saveButton:hover {
  color: var(--hover-green);
}
