.header {
  font-family: "GeistMono";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
  }
}

.app {
  position: relative;
  max-width: 40%;
  max-height: 40%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .app {
    max-width: 100%;
  }
  .header {
    font-family: "GeistMono";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      width: 30%;
      margin-bottom: 2rem;
    }
  }
}
