:root {
  --primary-green: #4db84f;
  --hover-green: #218838;
  --disabled-grey: #aeaeae;
  --selected-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --card-border-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  position: absolute;
  width: 762px;
  height: 1106px;
  backdrop-filter: blur(3px);
  top: 290px;
}
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexJust {
  display: flex;
  justify-content: center;
}
.flexAlign {
  display: flex;
  align-items: center;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.absoluteWithBlur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.breakOut {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@font-face {
  font-family: "GeistMono";
  src: local("RubikScribble-Regular"),
    url("./assets/fonts/GeistMono-VariableFont_wght.ttf");
}
