:root {
  --primary-green: #4db84f;
  --hover-green: #218838;
  --disabled-grey: #aeaeae;
  --selected-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --card-border-radius: 8px;
}
:global {
  @keyframes sxa {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .sxa :local {
    animation: sxa 1s infinite linear;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  position: absolute;
  width: 762px;
  height: 1106px;
  backdrop-filter: blur(3px);
  top: 290px;
}
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexJust {
  display: flex;
  justify-content: center;
}
.flexAlign {
  display: flex;
  align-items: center;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}

// .fadeIn {
//   animation: fadeIn 1000ms ease-in-out forwards;
// }
// .boxShadowRevel {
//   animation: boxShadowRevel 1000ms ease-in-out forwards;
// }

.absoluteWithBlur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.breakOut {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@font-face {
  font-family: "GeistMono";
  src: local("RubikScribble-Regular"),
    url("./assets/fonts/GeistMono-VariableFont_wght.ttf");
}

// :global {
//   .fadeInAnimation {
//     &:local {
//       animation: 200ms fadeIn;
//     }
//   }
//   .boxShadowRevelAnimation {
//     &:local {
//       animation: 200ms boxShadowRevel;
//     }
//   }
//   .scaleUpAnimation {
//     &:local {
//       animation: scaleUp 500ms ease-in-out forwards;
//     }
//   }
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes boxShadowRevel {
//   0% {
//     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
//   }
//   100% {
//     box-shadow: var(--selected-box-shadow);
//   }
// }

// @keyframes scaleUp {
//   0% {
//   }
//   100% {
//     transform: scale(1.2);
//   }
// }
